<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Кошьки inc.</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='/css/main.css') }}" rel="stylesheet">

  <style>
    body {
      background-color: #f8f9fa; /* Цвет фона для страницы */
      overflow-y: scroll;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh; /* Заполнение всей высоты окна */
      margin-top: 60px; /* Отступ под фиксированной плашкой */
    }

    .addition_form {
      max-width: 600px; /* Максимальная ширина формы */
      width: 100%; /* Ширина 100% от родителя */
    }

    .form-control, .form-control-file {
      margin-bottom: 15px; /* Отступы между полями */
    }
  </style>
</head>

<body>
  {% include 'header.html' %}

  <div class="container">
    <form class="addition_form" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="problem_type">Номер задания в КИМ (от 1 до 27)</label>
        <input class="form-control" id="problem_type" placeholder="Введите число от 1 до 27" name="problem_type">
      </div>
      <div class="form-group">
        <label for="problem_class">Типаж задания</label>
        <input class="form-control" id="problem_class" placeholder="Введите число от 1 до 2" name="problem_class">
      </div>
      <div class="form-group">
        <label for="problem_source">Оригинальный источник задания</label>
        <input class="form-control" id="problem_source" placeholder="Введите название учебника и/или имя автора" name="problem_source">
      </div>
      <br>
      <textarea rows="5" cols="50" class="form-control" id="problem_statement" placeholder="Введите условие задачи" name="problem_statement"></textarea>
      <input class="form-control" id="problem_answer" placeholder="Введите правильный ответ на задачу" name="problem_answer">

      <div class="form-group">
        <label for="problem_difficulty">Выберите отображающуюся сложность задачи:</label>
        <select class="form-control" id="problem_difficulty" name="problem_difficulty">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <button type="submit" class="btn-primary" style="align-items:center ">Добавить задачу</button>
    </form>
  </div>

  <!-- JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>