<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <h1 class="sitename">Кошьки.</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/">Домой</a></li>
                <li><a href="/problems/all">Задачи</a></li>
                <li class="dropdown"><a href="#"><span>Ученику</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="/learning-materials/all">Учебные материалы</a></li>
                        <li><a href="/courses/all">Курсы</a></li>
                    </ul>
                </li>
                <li><a href="/groups/all">Мои группы</a></li>
                <li><a href="/forum/topics/all">Форум</a></li>
                {% if not user[0] %}
                <li class="dropdown"><a href="#"><span>Личный кабинет</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="/registration">Зарегистрироваться</a></li>
                        <li><a href="/authorization">Авторизоваться</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown"><a href="#"><span>{{ user[0] }}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="/user/profile">Личный кабинет</a></li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>